# Bypass peer dependency conflicts for Vercel deployment
# Required because:
# - next-sanity@11.4.2 requires next@^15.1.0-0 but we use next@16.0.3
# - @sanity/visual-editing packages require @sanity/client@^7.8.2 but we use @sanity/client@6.29.1
#
# These are soft conflicts - the packages work fine together despite the version mismatches.
# This flag allows npm to install anyway, which is safe for this use case.
#
# TODO: Remove this once next-sanity releases a version that supports Next 16
legacy-peer-deps=true
